<mat-card>
    <mat-card-title>Language Quizes!</mat-card-title>
    <mat-card-subtitle>Select a language</mat-card-subtitle>
   
    <a routerLink='/spanish' class='quiz-btn'>
        <img mat-card-lg-image src="https://images-na.ssl-images-amazon.com/images/I/611Be4OL0ML.png">
    </a>

    <a routerLink='/italian' class='quiz-btn'>
        <img mat-card-lg-image src="https://images-na.ssl-images-amazon.com/images/I/61HBcEXzlFL.png">
    </a>

    <a routerLink='/french' class='quiz-btn'>
        <img mat-card-lg-image src="https://images-na.ssl-images-amazon.com/images/I/61vRU2cdX1L.png">
    </a>
   
</mat-card>

